@model IEnumerable<Dominio.Core.Entities.Proveedor>

@{
    ViewBag.Title = "Listar Proveedores";
    Layout = "~/Views/Shared/_principalSharedView.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />

<div class="table-data__tool">
    <div class="table-data__tool-left">
        <div class="rs-select2--light rs-select2--md">
            <select class="js-select2" name="property">
                <option selected="selected">Tipo de insumos</option>
                <option value="">Insumos 1</option>
                <option value="">Insumos 1</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <div class="rs-select2--light rs-select2--sm">
            <select class="js-select2" name="time">
                <option selected="selected">Estado</option>
                <option value="">Activos</option>
                <option value="">Inactivo</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
        <button class="au-btn-filter">
            <i class="zmdi zmdi-filter-list"></i>filtros
        </button>
    </div>
    <div class="table-data__tool-right">
        <a class="au-btn au-btn-icon au-btn--green au-btn--small" href="@Url.Action("agregarProveedor", "Proveedor", new { /* id=item.PrimaryKey */ })">
            <i class="zmdi zmdi-plus"></i>añadir elemento
        </a>
        <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
            <select class="js-select2" name="type">
                <option selected="selected">Exportar</option>
                <option value="">Pdf</option>
                <option value="">Excel</option>
            </select>
            <div class="dropDownSelect2"></div>
        </div>
    </div>
</div>

<table class="table table-data2">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.pr_int_idprove)</th>
            <th>@Html.DisplayNameFor(model => model.pr_vchar_nomprove)</th>
            <th>@Html.DisplayNameFor(model => model.pr_char_ruc)</th>
            <th>@Html.DisplayNameFor(model => model.pr_int_estado)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pr_int_idprove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pr_vchar_nomprove)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pr_char_ruc)
        </td>
        <td>
            @{ var estado = @Html.DisplayFor(modelItem => item.pr_int_estado);}
            @if (Equals(estado.ToString(),"1"))
            {
                <span class="status--process">Activo</span>
            }
            else
            {
                <span class="status--denied">Inactivo</span>
            }            
        </td>
        
        <td>
            <div class="table-data-feature">
                <a class="item" data-toggle="tooltip" data-placement="top" title="Editar" href="@Url.Action("editarProveedor","Proveedor", new {  idProveedor=item.pr_int_idprove })">
                    <i class="zmdi zmdi-edit"></i>
                </a>
                <a class="item" data-toggle="tooltip" data-placement="top" title="Eliminar" href="@Url.Action("verProveedor", new {idProveedor=item.pr_int_idprove  })">
                    <i class="zmdi zmdi-delete"></i>
                </a>
                <a class="item" data-toggle="tooltip" data-placement="top" title="Detalles" href="@Url.Action("verProveedor","Proveedor", new {idProveedor=item.pr_int_idprove })">
                    <i class="zmdi zmdi-more"></i>
                </a>
            </div>
        </td>
    </tr>
    <tr class="spacer"></tr>
        }

</table>
