@model Dominio.Core.Entities.Proveedor

@{
    ViewBag.Title = "Ver Proveedor";
    Layout = "~/Views/Shared/_principalSharedView.cshtml";
}

<div class="card">
    <div class="card-header">Proveedor</div>
    <div class="card-body">
        <div class="card-title">
            <h3 class="text-center title-2">@ViewBag.Title</h3>
        </div>
        <div>            
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.pr_int_idprove)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pr_int_idprove)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pr_vchar_nomprove)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pr_vchar_nomprove)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.pr_char_ruc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.pr_char_ruc)
                </dd>
                @{
                    string estadoProv = "";
                    var estado = @Html.DisplayFor(@model => model.pr_int_estado);
                }
                @if (estado.ToString() == "1")
                {
                    estadoProv = "Activo";
                }
                else
                {
                    estadoProv = "Anactivo";
                }
                <dt>
                    @Html.DisplayNameFor(model => model.pr_int_estado)
                </dt>
                <dd>
                    @estadoProv
                </dd>
            </dl>
        </div>
    </div>
</div>        
<p>
    @Html.ActionLink("Editar", "editarProveedor", new { idProveedor = Model.pr_int_idprove }) |
    @Html.ActionLink("Retroceder a la lista", "listarProveedor")
</p>
