@model Dominio.Core.Entities.Alimento

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_principalSharedView.cshtml";
}

<h2>Editar Alimento</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Alimento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.al_int_idalim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.al_int_idalim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.al_int_idalim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.al_vchar_descr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.al_vchar_descr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.al_vchar_descr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.al_int_idtipoalim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.al_int_idtipoalim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.al_int_idtipoalim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.al_dec_precalim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.al_dec_precalim, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.al_dec_precalim, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.al_int_est, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.al_int_est, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.al_int_est, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la lista", "ListarAlimento")
</div>

