@{
        ViewBag.Title = "Home module";
        Layout = "~/Views/Shared/_principalSharedView.cshtml";
        var userInfo = (Dominio.Core.Entities.Usuario)Session["userSession"];
}

<h2>@ViewBag.Title</h2>

@if (Session["userSession"] == null)
{
    <h2>Inicie sesion por favor!</h2>
    @Html.ActionLink("Log in", "IniciarSesion", "Login")
}
else
{
    <h2>Bienvenido</h2>
    <h4>Nombre de usuario  :  @userInfo.us_vchar_nomusu</h4>
    <h4>Correo del usuario :  @userInfo.us_vchar_correo</h4>

    @Html.ActionLink("Cerrar sesion", "CerrarSesion", "Login")

}