@model Dominio.Core.Entities.Tipo_Alimento

@{
    ViewBag.Title = "AgregarTipoAlimento";
    Layout = "~/Views/Shared/_principalSharedView.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">

        <div class="card-header">Comida</div>
        <div class="card-body">
            <div class="card-title">
                <h3 class="text-center title-2">@ViewBag.Title</h3>
            </div>


            <div class="form-horizontal">

                <div class="form-group d-none">
                    @Html.LabelFor(model => model.ta_int_idtipoalim, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ta_int_idtipoalim, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ta_int_idtipoalim, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ta_vchar_descr, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ta_vchar_descr, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ta_vchar_descr, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ta_int_est, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ta_int_est, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ta_int_est, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-12">
                        <input type="submit" value="Crear" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver a la Lista", "ListarTipoAlimento")
</div>
