@model IEnumerable<Dominio.Core.Entities.Trabajador>

@{
    Layout = null;
}

<!DOCTYPE html>
<link href="https://bootswatch.com/4/lux/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <p>
       Listado de trabajadores
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tr_int_idtrab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tr_vchar_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tr_vchar_apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tr_char_dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tr_vchar_direc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tr_vchar_foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tr_vchar_correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tt_vchar_descr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.us_vchar_nomusu)
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tr_int_idtrab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tr_vchar_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tr_vchar_apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tr_char_dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tr_vchar_direc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tr_vchar_foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tr_vchar_correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tt_vchar_descr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.us_vchar_nomusu)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
