@model Dominio.Core.Entities.Usuario

@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_principalLinksSharedView.cshtml";
    string error = (string)Session["errorMessageUser"];
    string message = (string)Session["messageUser"];
}
@{
    if (error != "" || message!="")
    {
    <h4 class="text-danger">@error  @message</h4>
    }
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <style>
        .borde{border:1px solid #c0c6d1 !important;background-color:red !important;}
    </style>
    <body class="animsition">
        <div class="page-wrapper">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="#">
                                    <img src="~/images/icon/logo.png" alt="CoolAdmin">
                                </a>
                            </div>
                            <div class="login-form">
                                <form action="" method="post">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.us_vchar_correo, htmlAttributes: new { @class = "control-label col-md-6" })
                                        @Html.EditorFor(model => model.us_vchar_correo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.us_vchar_correo, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.us_vchar_password, htmlAttributes: new { @class = "control-label col-md-6" })
                                        @Html.PasswordFor(model => model.us_vchar_password, new { htmlAttributes = new { @class = "form-control borde" } })
                                        @Html.ValidationMessageFor(model => model.us_vchar_password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="login-checkbox">
                                        <label>
                                            <input type="checkbox" name="remember">Remember Me
                                        </label>
                                        <label>
                                            <a href="#">Forgotten Password?</a>
                                        </label>
                                    </div>
                                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Sign in</button>
                                    <div class="social-login-content">
                                        <div class="social-button">
                                            <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                                            <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="register-link">
                                    <p>
                                        Don't you have account?
                                        <a href="index.html" target="_blank">Sign Up Here</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}

